<html>

<h2>Desafio BTG
  <input type="text" [(ngModel)]="novoNome" placeholder="Nome da Pessoa">
  <button (click)="criar()">Adicionar</button>
</h2>

<hr>

<!-- <ul>
    <li>
        @for (item of pessoas; track item.id) {
        <li>{{ item.nome }}
            <button (click)="abrirCartao(item.id)">Ver Cartão</button>
            <button (click)="excluir(item.id)">Excluir</button>
        </li>
        } @empty {
        <li>There are no items.</li>
        }        
    </li>
</ul> -->

<!-- <table>
    <thead>
        <tr>
            <ul>
                <li>
                    @for (item of pessoas; track item.id) {
                    <li>
                        {{ item.nome }}
                        <button (click)="abrirCartao(item.id)">Ver Cartão</button>
                        <button (click)="excluir(item.id)">Excluir</button>
                    </li>
                    } @empty {
                        <li>There are no items.</li>
                    }        
                </li>
            </ul>
        </tr>
    </thead>
</table> -->

<!-- Selecionar Pessoa -->
<section>
  <fieldset id="user-info-fieldset">
    <legend>Informação do Usuário:</legend>

    <div class="user-select-section">
        <label>Selecione a Pessoa:</label>
        <select 
            [(ngModel)]="pessoaSelecionada" 
            (ngModelChange)="onSelectionChange()" >
            <option [value]="null">--- Escolha uma pessoa ---</option> 
            
            @for (p of pessoas; track p.id) {
                <option [ngValue]="p.id"> 
                    {{ p.nome }}
                </option>
            }
        </select>
    </div>

    @if (pessoaDetalhe) {
    <div class="info-boxes-container">
        
        <div class="info-box">
            <span class="info-label">Nome Completo:</span>
            <span class="info-value">{{ pessoaDetalhe.nome }}</span> 
        </div>
        
        <div class="info-box">
            <span class="info-label">Idade:</span>
            <span class="info-value">{{ pessoaDetalhe.idade }}</span>
        </div>

        <div class="info-box">
            <span class="info-label">Sexo</span>
            <span class="info-value">{{ pessoaDetalhe.sexo }}</span>
        </div>
            
    </div>
    }

  </fieldset>
</section>

<!-- Tabela só aparece SE uma pessoa estiver selecionada -->
@if (pessoaDetalhe) {
<fieldset id="carteira-fieldset">
<legend>Carteira Nacional de Vacinação</legend>
<div class="tabela-wrapper"> <table class="tabela-vacina">
    
    <thead>
      <tr>
        <th class="dose-header">Doses</th> 
        
        @for (v of vacinas; track v.id) {
          <th>{{ v.nome }}</th>
        }
      </tr>
    </thead>

    <!-- <tbody>
      <tr>
        <td class="dose-cell">1ª Dose</td>
        @for (v of vacinas; track v.id) {
          <td class="status-cell">
            @let registro = verificarStatus(v.id, 1);
            <div class="quadrado" [class.aplicado]="registro">
              @if (registro) {
                <span class="status-aplicado">Aplicado em {{ registro.dataAplicacao | date: 'dd/MM/yy' }}</span>
              } @else {
                <span class="status-faltoso">Faltoso</span>
              }
            </div>
          </td>
        }
      </tr>

      <tr>
        <td class="dose-cell">2ª Dose</td>
        @for (v of vacinas; track v.id) {
          <td class="status-cell">
            @let registro = verificarStatus(v.id, 2);
            <div class="quadrado" [class.aplicado]="registro">
              @if (registro) {
                <span class="status-aplicado">Aplicado em {{ registro.dataAplicacao | date: 'dd/MM/yy' }}</span>
              } @else {
                <span class="status-faltoso">Faltoso</span>
              }
            </div>
          </td>
        }
      </tr>

      <tr>
        <td class="dose-cell">3ª Dose</td>
        @for (v of vacinas; track v.id) {
          <td class="status-cell">
            <td class="status-cell">
            @let registro = verificarStatus(v.id, 3);
            <div class="quadrado" [class.aplicado]="registro">
              @if (registro) {
                <span class="status-aplicado">Aplicado em {{ registro.dataAplicacao | date: 'dd/MM/yy' }}</span>
              } @else {
                <span class="status-faltoso">Faltoso</span>
              }
            </div>
          </td>
        }
      </tr>

      <tr>
        <td class="dose-cell">1º Reforço</td>
        @for (v of vacinas; track v.id) {
          <td class="status-cell">
            <td class="status-cell">
            @let registro = verificarStatus(v.id, 4);
            <div class="quadrado" [class.aplicado]="registro">
              @if (registro) {
                <span class="status-aplicado">Aplicado em {{ registro.dataAplicacao | date: 'dd/MM/yy' }}</span>
              } @else {
                <span class="status-faltoso">Faltoso</span>
              }
            </div>
          </td>
        }
      </tr>

      <tr>
        <td class="dose-cell">2º Reforço</td>
        @for (v of vacinas; track v.id) {
          <td class="status-cell">
            <td class="status-cell">
            @let registro = verificarStatus(v.id, 5);
            <div class="quadrado" [class.aplicado]="registro">
              @if (registro) {
                <span class="status-aplicado">Aplicado em {{ registro.dataAplicacao | date: 'dd/MM/yy' }}</span>
              } @else {
                <span class="status-faltoso">Faltoso</span>
              }
            </div>
          </td>
        }
      </tr>
      
    </tbody> -->

    <tbody>
      @for (dose of doses; track dose.numero) {
        <tr>
          <td class="dose-cell">{{ dose.nome }}</td>
          
          @for (v of vacinas; track v.id) {
            <td class="status-cell">
              @let registro = verificarStatus(v.id, dose.numero); 
              
              <div class="quadrado" [class.aplicado]="registro">
                
                @if (registro) {
                  <span class="status-aplicado">Aplicado em {{ registro.dataAplicacao | date: 'dd/MM/yy' }}</span>
                } @else {
                  <span class="status-faltoso">Faltoso</span>
                }
                
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>

</fieldset>
}


</html>