<h2>Cartão de Vacinação</h2>

<h3>Nova aplicação</h3>

<select [(ngModel)]="vacinaSelecionada">
    <option [value]="null">Selecione a vacina</option>
    <option *ngFor="let v of vacinas" [value]="v.id">{{ v.nome }}</option>
</select>

<input type="number" [(ngModel)]="dose" placeholder="Dose (1, 2, 3...)">

<input type="date" [(ngModel)]="data">

<button (click)="registrar()">Registrar</button>

<hr>

<h3>Vacinações</h3>

<ul>
    <li *ngFor="let v of vacinacoes">
        {{v.nomeVacina }} - Dose {{ v.dose }} - {{ v.dataAplicacao | date }}
    </li>
</ul>